@model BookingCinema525_new.ViewModels.VerifyOTPVM

@{
    ViewData["Title"] = "VerifyOTP";
}

<div class="container">
    <h1>VerifyOTP</h1>

    <h4>VerifyOTPVM</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="VerifyOTP">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for ="UserId" hidden/>
                <div class="form-group">
                    <label asp-for="OTP" class="control-label"></label>
                    <input asp-for="OTP" class="form-control" />
                    <span asp-validation-for="OTP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <input asp-for="UserId" class="form-control" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
